<% content_for :title, "Team" %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Marina</h5>
                    <p class="card-text">THP teaches you how to make such crappy websites.&#128169;</p>
                </div>
            </div>
        </div>
        <!-- Repeat the above code for each team member -->
    </div>
</div>

